.cool {
  border: none;
  background: none;
  outline: none;
  width: 140px;
  height: 26px;
  margin: 15px;
  background-color: rgb(195, 241, 230);
  border-radius: 4%;
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(142, 46, 180);
}
